/* Product Cards and Special Sections */

/*  ac-blog-quoteCard */
.ac-blog-quoteCard {
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	margin-bottom:16px !important;
	margin-top:16px !important;
    background:#ffffff;
}
.ac-blog-quoteCard__container {
  width: 100%;
  padding: 40px 20px 20px;
  position: relative;
}

.ac-blog-quoteCard__quote-icon {
  position: absolute;
  top: -30px;
  left: -25px;
  width: 80px;
  max-width: 80px;
  height: 80px;
  max-height: 80px;
}
.ac-blog-quoteCard__quote-icon svg {
  width: 100%;
  height: 100%;
}
.ac-blog-quoteCard__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
p.ac-blog-quoteCard__text {
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal !important;
  margin: 0px !important;
}
span.ac-blog-quoteCard__meta {
  font-size: 14px !important;
  font-weight: 700;
  line-height: normal !important;
  margin: 0px !important;
  font-style: italic;
}
.ac-product-description__ScientificValidation p{
	font-size:14px !important;
	line-height: normal !important;
	margin:0 !important;
	margin-bottom:16px !important;
}
.ac-product-description__ScientificValidation span{
		font-size: 14px !important;
    font-weight: 700;
    line-height: normal !important;
    margin: 0px !important;
    font-style: italic;
}
.ac-product-description__Formulation p{
	font-size:14px !important;
	line-height: normal !important;
	margin:0 !important;
	margin-bottom:16px !important;
}
/*  ac-blog-quoteCard */

