/* Use Cases Section Styles */

.ac-product-description__UsesCases ul {
    margin: 0px !important;
    padding: 0px !important;
    list-style: none !important;
    list-style-type: none !important;
	display: grid
;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    width: 100%;
    overflow: auto;
}

.ac-product-description__UsesCases ul li{
	display: flex;
    flex-direction: column;
        gap: 10px;
    padding: 10px;
    background: #ffefd6;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    /* max-width: 300px; */
    /* min-width: 300px; */
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
	margin:0 !important;
}
.ac-product-description__UsesCases ul li span{
	font-size:16px !important;
	line-height:25px !important;
	margin:0 !important;
}

.ac-product-description__UsesCases ul li p{
	font-size:16px !important;
	line-height:25px !important;
	margin:0 !important;
}

