/* Safety & Suitability Section Styles */

.ac-product-description__Safety h3{
font-size:16px !important;
	line-height: normal !important;
	text-transform: capitalize !important; 
	font-weight:700;
	margin:0 !important;
	margin-bottom:16px !important;
}

.ac-product-description__Safety h4{
font-size:16px !important;
	line-height: normal !important;
	text-transform: capitalize !important; 
	font-weight:700;
	margin:0 !important;
	margin-bottom:16px !important;
}

.ac-product-description__Safety p{
	font-size:14px !important;
	line-height: normal !important;
	margin:0 !important;
	margin-bottom:16px !important;
}

